<div class="container_index">
    <div class="content">
        <h1>Studying Online is <br> now much easier</h1>
        <p>TOTC is an interesting platform that will <br> teach you in more an interactive way</p>
    </div>
</div>

<div class="container-fluid" id="newstitle">
    <h1>Two-In-One Cloud Software.</h1>
    <p>TOTC is one powerful online software suite that combines all the tools needed to run a successful school or
        office.
    </p>
</div>

<div class="container-fluid" id="newscard">
    <div class="card" style="width: 18rem;">
        <div class="icon">
            <i class="fa fa-newspaper-o" style="font-size:3rem;"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title">Cybersecurity News</h5>
            <p class="card-text">Simple and secure control of your organization’s financial and legal transactions. Send
                customized invoices and contracts</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="icon">
            <i class="fa fa-newspaper-o" style="font-size:3rem;"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title">free online platform for learning cyber security</h5>
            <p class="card-text">Simple and secure control of your organization’s financial and legal transactions. Send
                customized invoices and contracts</p>
        </div>
    </div>
</div>

<div class="containner-new d-flex flex-column">
    <div class="what-is-TOTC">
        <div class="div">
            <h1 style="color: rgb(0, 0, 0); font-size: 30px; font-weight: 700;">Cybersecurity News</h1>
        </div>
        <p class="text-wrapper">
            TOTC is a platform that allows educators to create online classes whereby they can store the course materials
            online; manage assignments, quizzes and exams; monitor due dates; grade results and provide students with
            feedback all in one place.
        </p>
        <div class="overlap">
            <div class="overlap-group">
                <div class="image-container">
                    <img class="img" src="/img/rectangle-21.png" alt="Image Description" />
                    <a href="#" class="read-more-button" style="color: azure;">Read More</a>
                </div>
                <div class="rectangle-2"></div>
            </div>
        </div>
    </div>



</div>