<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>E-Cop</title>
    <!-- Favicon -->
    <link href="/favicon" rel="icon">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="container">
        <%- include('./header.ejs')%>
        <main>
            <%- body %>
        </main>
    </div>
</body>

<script src="https://kit.fontawesome.com/4419eadbc1.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html> 