<nav class="navbar_header">
    <div class="admin_header_logo">
        <a href="/admin-ecop">
            <img src="/img/logo_alt.png" alt="ecop_logo">
        </a>
    </div>
    <div class="admin_header_assets">
        <div class="admin_account">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>ADMIN ECOP</span>
        </div>
    </div>
</nav>